<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sentiment analysis for amazon reviews</title>
    <meta charset="utf-8">
    <meta name="description" content="descripcion de lo que se muestra en el navegador">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script rel="text/javascript" src="{{ url_for('static',filename='js/inference.js')}}"></script>
    

</head>
<body>
    <div class="one full">
        <div class="one-section">
            <h1 class="title"> SENTIMENT ANALISYS FOR AMAZON REVIEWS</h1>
            <div class="d-flex justify-content-around my-5">
                <div class="card card-text me-5" >
                        <div class="card-body">
                        <h5 class="card-title">Texto</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ingresa el comentario que quieras evaluar</h6>
                        <form>
                            <div class="mb-3">
                                <textarea id="card_text" class="form-control textarea-input" name="comentarios" rows="5" cols="60"></textarea>
                            </div>
                            <button id="inference-text-btn" class="btn btn-primary mt-4">Evaluar</button>
                        </form>
                    </div>
                </div>
                 <!-- Seccion para mostrar el resultado -->
                <div  class="result-text mx-5 ">    
                    <div class="container d-none">
                        <img src="../static/images/positivo.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Positivo</div>
                        </div>
                        <p id="result-text"> </p>
                      </div>
                      <div class="container ">
                        <img src="../static/images/negativo.png" alt="Avatar" class="image">
                        <div class="overlay-negative">
                          <div class="text">Negativo</div>
                        </div>
                        <p id="result-text"> </p>
                      </div>
                </div>
                <!-- Termina seccion para mostrar el resultado -->
            </div>
            <div class="d-flex my-5 flex-row">
                <div class="card card-archivo me-5" >
                        <div class="card-body">
                        <h5 class="card-title">Archivo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ingresa archivo que quieras evaluar</h6>
                        <form>
                            <div class="mb-3">
                                <label for="fileApriori" class="form-label labelTitle">Archivo</label>
                                <input type="file" class="form-control" id="fileApriori" aria-describedby="archivo" name= "fileApriori" accept=" .txt, .csv">
                                <div class="form-text">Archivo a ser leido de tipo .txt  o .csv</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Evaluar</button>
                        </form>
                    </div>
                </div>
                 <!-- Seccion para mostrar el resultado -->
                <div class="result-archivo mx-5 card ">
                    <div class="card-body">
                        <h5 class="card-title">resultado 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Este es el resultado 1</h6>
                    </div>
                </div>
            </div>
            <div class="d-flex my-5 flex-row ">
                <div class="card card-archivo me-5" >
                    <div class="card-body">
                        <h5 class="card-title">resultado 2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Este es el resultado 2</h6>
                    </div>
                </div>
                 <!-- Seccion para mostrar el resultado -->
                <div class="result-archivo mx-5 card ">
                    <div class="card-body">
                        <h5 class="card-title">resultado 3</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Este es el resultado 3</h6>
                        <canvas id="myChart" width="400" height="200" ></canvas>
                    </div>
                </div>
                <!-- Termina seccion para mostrar el resultado -->
            </div>
            <div>
                <button id="descargar-datos-btn" class="descargar-datos btn">Descarga tus resultados</button>
            </div>
            <!-- seccion para la descripcion -->
            <div class="d-flex my-5 flex-column description ">
                <h3>Descripcion</h3> 
                <p>Este es un proyecto desarrollado por alumnos de la Facultad de Ingeniería UNAM para la materia de Análisis y procesamiento inteligente de textos</p>
                <div>
                    Para el desarrollo de este proyecto se minaron reseñas de amazon con las cuales 
                    entrenamos un modelo usando Bert el cual aprendio a distinguir si una reseña es 
                    <span class="fw-bold text-green">positiva</span> o <span class="fw-bold text-red">negativa</span> 
                    en las siguientes ligas podras encontrar mas informacion:
                    <ul>
                        <li class="d-flex"><span class="material-icons">offline_bolt</span><a href="https://github.com/jorgeluis098/sentiment_analysis_for_amazon_reviews" class="me-1">Repositorio GitHub </a> Entrenamiento del modelo</li>
                        <li class="d-flex mt-1"><span class="material-icons">offline_bolt</span><a href="https://github.com/jorgeluis098/amazon_reviews_web_interface"  class="me-1">Repositorio GitHub </a> Interfaz </li>
                        <li class="d-flex mt-1"><span class="material-icons">offline_bolt</span><a href=""  class="me-1">Google colab </a> Inferencia </li>
                        <li class="d-flex mt-1"><span class="material-icons">offline_bolt</span><a href=""  class="me-1">Google colab </a> Documentacion del entrenamiento del modelo </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>

</body>
<footer class="pie pt-3">
    <div class="d-flex flex-column align-items-center">
        <div class=" d-flex flex-row">
            <a href="https://github.com/jorgeluis098/amazon_reviews_web_interface">GitHub</a>
            <a>/</a>
            <div class="d-flex felx-row">
                <span class="material-icons">
                    email
                </span>
                <p>miguel17546mals@gmail.com</p>
            </div>
        </div>
        <div class=" ">
            <p>2021</p>
        </div>
    </div>
  </footer>
</html> 